@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import '../fonts/stylesheet.css';
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: "THICCCBOI";
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  --main-lb-color: #313131;
  --main-orange-color: #FFA849;
  --main-decr-color: #757683;
  --main-gray-color: #D9D9D9;
  --main-beige-color: #F8BF99;
  --main-pg-color: rgba(244, 241, 254, 0.63);
  --main-purple-color: #4C1D95;
  --main-blue-color: #1070C8;
  --main-vs-color: #F8F6FE;
  --main-ph-color: #ABB1BB;
  --main-ib-color: #CED4DA;
  --main-cm-color: #280067;
}

button {
  background: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 25px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 150px;
}
.header-block .logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 139px;
  height: 59px;
}
.header-block .logo-block .logo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header-block .header__hamburger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-block .header__hamburger .line {
  width: 22px;
  height: 3px;
  background: #000;
}
.header-block .header__hamburger .line:not(:last-child) {
  margin-bottom: 4px;
}
.header-block .header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-block .header__navigation .link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-block .header__navigation .link-wrapper:not(:last-child) {
  margin-right: 36px;
}
.header-block .header__navigation .link-wrapper > *:not(:last-child) {
  margin-right: 16px;
}
.header-block .header__navigation .link-wrapper .navigation__link {
  font-size: 20px;
  font-weight: 600;
  color: #17313B;
}
.header-block .header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-block .header__button .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 196px;
  height: 59px;
  background: #04000A;
  color: #fff;
  border-radius: 10px;
  text-transform: capitalize;
  font-family: "Montserrat";
  font-weight: 600;
}

@media (max-width: 1024px) {
  .header-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100px;
  }
  .header-block .logo-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 139px;
    height: 59px;
  }
  .header-block .logo-block .logo {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .header-block .header__hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-block .header__hamburger .line {
    width: 22px;
    height: 3px;
    background: #000;
  }
  .header-block .header__hamburger .line:not(:last-child) {
    margin-bottom: 4px;
  }
  .header-block .header__navigation {
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-block .header__navigation .link-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-block .header__navigation .link-wrapper:not(:last-child) {
    margin-right: 36px;
  }
  .header-block .header__navigation .link-wrapper > *:not(:last-child) {
    margin-right: 16px;
  }
  .header-block .header__navigation .link-wrapper .navigation__link {
    font-size: 20px;
    font-weight: 600;
    color: #17313B;
  }
  .header-block .header__button {
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header-block .header__button .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 196px;
    height: 59px;
    background: #04000A;
    color: #fff;
    border-radius: 10px;
    text-transform: capitalize;
    font-family: "Montserrat";
    font-weight: 600;
  }
}
@media (max-width: 768px) {
  .header-block {
    height: 100px;
  }
  .header-block .logo-block {
    width: 97px;
    height: 41px;
  }
}
@media (max-width: 425px) {
  .header-block {
    height: 74px;
  }
  .header-block .logo-block {
    width: 86px;
    height: 32px;
  }
}